//fonts

$font-xxs: 12px;
$font-s: 16px;
$font-m: 18px;
$font-l: 26px;
$font-xl: 30px;

//spaces
$spaces-sm: 4px;
$spaces-m: 8px;
$spaces-l: 12px;
$spaces-xl: 16px;
$spaces-xxl: 20px;

//colors
$color-white: #fff;
$color-graniteGray: #6666665b;
$color-whiteSnow: #6666662b;
$color-neonSilver: #ccccccb5;
$color-neonSilverLight: #e1e1e1b5;
$color-jetBlack: #393939;
$color-tropicalIndigo: #3636da;
$color-tropicalIndigoLight: #6262e7;
$color-blackPrimary: #2a2525;
$color-grayPrimary: #ccc;
$color-redPrimary: #cf271b;
